<!DOCTYPE html>
<html>
<head>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <title><%= title %></title>
</head>
<body>
    <div data-role='header'>
        <h1><%= title %></h1>
    </div>
    <div data-role="content">
        <input type="text" name="email" id="email">
        <input type="password" name="password" id="password">
        <input type="button" value="로그인" id="btnLogin"/>
    </div>
    <div data-role="footer">
        <h1><%= title %></h1>
    </div>
</body>
<script>
    $(function() {
        $("#btnLogin").click(function() {
            var param = {
                email: $("#email").val(),
                password: $("#password").val()
            };
            $.ajax({
                url: "http://localhost:3000/auth",
                type: "POST",
                dataType: "json",
                data: param,
                success: function(data) {
                    if(data.result === 'ok') {
                        return window.location.href = "http://localhost:3000/main";
                    }
                    alert('ID나 PASSWORD를 확인해주세요.');
                },
                error: function(data) {
                    console.log(error);
                }
            });
        });
    });
</script>
</html>
