<!DOCTYPE html>
<html>
<head>
    <!-- 메타 정보 선언 -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- 제이쿼리 모바일, 제이쿼리 라이브러리 파일 선언 -->
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />

    <!-- 사용자 스타일 시트 파일 선언 -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>
</head>
<body>
    <div data-role='header'>
        <h1><%= title %></h1>
    </div>
    <div data-role="content">
        <input type="text" name="email" id="email">
        <input type="password" name="password" id="password">
        <button type="button" id="btnLogin">로그인</button>
    </div>
    <div data-role="footer">
        <h1><%= title %></h1>
    </div>
</body>
<script>
    $(function() {
        $("#btnLogin").click(function() {
            var param = {
                email: $("#email").val(),
                password: $("#password").val()
            };
            $.ajax({
                url: "http://192.168.0.28:3000/auth",
                type: "POST",
                dataType: "json",
                data: param,
                success: function(data) {
                    if(data.result === 'ok') {
                        return window.location.href = "http://192.168.0.28:3000/reports?action=0";
                    } else if(data.result === 1 || data.result === 2) {
                        return window.location.href = "http://192.168.0.28:3000/employees/partsmain";
                    }
                    alert('ID나 PASSWORD를 확인해주세요.');
                },
                error: function(data) {
                    console.log(data);
                }
            });
        });
    });
</script>
</html>
