<!DOCTYPE html>
<html>
<head>
    <!-- 메타 정보 선언 -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- 제이쿼리 라이브러리 파일 선언 -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>

    <!-- table을 excel로 export하기 위한 library 선언 -->
    <script type="text/javascript" src="/scripts/jquery.techbytarun.excelexportjs.js"></script>

    <!-- 부트스트랩 -->
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <style>
        td {
            text-align: center;
        }
        th {
            text-align: center;
        }
    </style>
</head>

<body>
<h1 style="text-align: center">품질측정팀_일일업무보고</h1>
<div style="text-align: right">
    <input type="date">
</div>
<div>1. 인력운영현황</div>
    <table border='1'>
        <tr>
            <th colspan="3" rowspan="2">구성</th>
            <th rowspan="2">조<br>배정</th>
            <th rowspan="2">장비</th>
            <th rowspan="2">배정<br>인원</th>
            <td colspan="3">

            </td>
        </tr>
        <tr>
            <th>측정팀</th>
            <th>지원인력</th>
            <th>소계</th>
        </tr>
        <tr>
            <td rowspan="5">품질측정팀</td>
            <td>정기</td>
            <td><input type="text"></td>
            <td>5</td>
            <td>OTPis-P8E<br>N_PM10</td>
            <td><input type="number"></td>
            <td>11</td>
            <td><input type="number"></td>
            <td>11</td>
        </tr>
        <tr>
            <td>k1</td>
            <td><input type="text"></td>
            <td>5</td>
            <td>OTPis-P8E<br>N_PM10</td>
            <td><input type="number"></td>
            <td>11</td>
            <td><input type="number"></td>
            <td>11</td>
        </tr>
        <tr>
            <td rowspan="3">테마</td>
            <td><input type="text"></td>
            <td>5</td>
            <td>OTPis-P8E<br>N_PM10</td>
            <td><input type="number"></td>
            <td>11</td>
            <td><input type="number"></td>
            <td>11</td>
        </tr>
        <tr>
            <td><input type="text"></td>
            <td>5</td>
            <td>OTPis-P8E<br>N_PM10</td>
            <td><input type="number"></td>
            <td>11</td>
            <td><input type="number"></td>
            <td>11</td>
        </tr>
        <tr>
            <td><input type="text"></td>
            <td>5</td>
            <td>OTPis-P8E<br>N_PM10</td>
            <td><input type="number"></td>
            <td>11</td>
            <td><input type="number"></td>
            <td>11</td>
        </tr>
        <tr>
            <td colspan="5">휴/공가</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <td colspan="5">소계</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
    </table>
</body>
<script>
    $(function() {

    });
</script>
</html>