<!DOCTYPE html>
<html>
<head>
    <!-- 메타 정보 선언 -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- 제이쿼리 모바일, 제이쿼리 라이브러리 파일 선언 -->
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />

    <!-- 사용자 스타일 시트 파일 선언 -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <!-- 일별 에러 사항 페이지 -->
    <div data-role="header" data-position="fixed">
        <h1>일별 에러 사항</h1>
    </div>
    <div data-role="content">
        <table>
            <tr>
                <td></td>
            </tr>
        </table>
    </div>
    <div data-role="footer" data-position="fixed">
        <h4>icomwiz</h4>
    </div>
</body>
</html>