<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <!-- 메타 정보 선언 -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- 제이쿼리 모바일, 제이쿼리 라이브러리 파일 선언 -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />


    <!-- 사용자 스타일 시트 파일 선언 -->
    <link rel='stylesheet' href='/stylesheets/parts-main-style.css' />
</head>
<body>
    <!-- 기본 분석자용 메인 페이지 -->
    <div data-role='header' data-position="fixed">
        <h4><%= result.partName %></h4>
    </div>
    <div data-role="content">
        <img id="home" src="http://localhost:3000/imgs/home.png"/><p class="hello"><b><%= result.name %></b> <B><%= result.departmentPosition %></B>님 반갑습니다.</p>
        <fieldset class="parts-main-radio-btns" data-role="controlgroup" data-type="horizontal" data-mini="true">
            <input type="radio" name="radio-choice-1" id="analyst-report" value="7" checked="checked"/>
            <label class="partsmain-radio-labels" id="analyst-report-label" for="analyst-report">내근자 업무 보고</label>
            <input type="radio" name="radio-choice-1" id="owns-team" value="1"/>
            <label class="partsmain-radio-labels" id="owns-team-label" for="owns-team">외근팀 관리</label>
            <input type="radio" name="radio-choice-1" id="file-upload" value="2"/>
            <label class="partsmain-radio-labels" for="file-upload">계획서 업로드</label>
            <input type="radio" name="radio-choice-1" id="error-state" value="3"/>
            <label class="partsmain-radio-labels" for="error-state">오류 현황</label>
            <input type="radio" name="radio-choice-1" id="call-state" value="5"/>
            <label class="partsmain-radio-labels" for="call-state">콜수 현황</label>
            <input type="radio" name="radio-choice-1" id="car-state" value="4"/>
            <label class="partsmain-radio-labels" for="car-state">차량 현황</label>
            <% if (result.teamPosition === 0) { %>
            <input type="radio" name="radio-choice-1" id="admin-page" value="6"/>
            <label class="partsmain-radio-labels" for="admin-page">품질측정팀 일일업무보고</label>
            <input type="radio" name="radio-choice-1" id="indoor-employee-management" value="8"/>
            <label class="partsmain-radio-labels" for="indoor-employee-management">내근자 관리</label>
            <input type="radio" name="radio-choice-1" id="indoor-employee-report" value="9"/>
            <label class="partsmain-radio-labels" for="indoor-employee-report">내근자 업무 일지 관리</label>
            <% } %>
        </fieldset>

        <!--날짜-->
        <div id="teamManagementDateDiv">
            <input id="teamManagementDate" type="date" placeholder="YYYY-MM-DD" onchange="teamManagement(value)">
        </div>

        <!-- 내근자 업무보고 탭, 팀 관리 탭, 계획서 업로드 탭 -->
        <ul id="listArea" data-role="listview" data-inset="true">
        </ul>

        <!-- 오류 현황 탭 -->
        <div id="error-state-div">
            <input class="error-state" type="button" id="dayErrorBtn" value="일별 에러 현황"/>
            <input class="error-state" type="button" id="weekErrorBtn" value="주별 에러 현항"/>
            <input class="error-state" type="button" id="monthErrorBtn" value="월별 에러 현황"/>
            <input class="error-state" type="button" id="quarterErrorBtn" value="분기별 에러 현황"/>
        </div>

        <!-- 콜수 현황 탭 -->
        <div id="calls-state-div">
            <input class="call-state" type="button" id="dayCallsBtn" value="일별 콜수 현황"/>
            <input class="call-state" type="button" id="monthCallsBtn" value="월별 콜수 현황"/>
        </div>

        <!-- 업무일지 작성 팝업 -->
        <div data-role="popup" id="postReportDialog">
            <div data-role="header">
                <h1 id="postReportDialogTitle">업무일지 작성</h1>
            </div>
            <div data-role="main" class="ui-content">
                <!--<input type="date" data-inline="true" placeholder="2016-00-00"/>-->
                <input id="postReportDate" type="text" placeholder="날짜 ex)2016-11-06"/>
                <table>
                    <thead>
                        <tr>
                            <th colspan=2>근태현황</th><th>세부사항</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td width="200">출근</td>
                            <td>
                                <input id="workStartTime" type="text" placeholder="09:00"/>
                            </td>
                            <td rowspan=5>
                                <textarea id="majorWork" rows="15" placeholder="주 업무 내용 작성"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td width="200">퇴근</td>
                            <td width="200">
                                <input id="workEndTime" type="text" placeholder="18:00"/>
                            </td>
                        </tr>
                            <td width="200">기타</td>
                            <td width="200">
                                <input id="etcTime" type="text" placeholder="15:00"/>
                            </td>
                        <tr>
                            <td width="200">야근</td>
                            <td width="200">
                                <input id="overTime" type="text" placeholder="23:00"/>
                            </td>
                        </tr>
                        <tr id="vacationPeriod">
                            <td width="200">휴가</td>
                            <td width="200">
                                <input id="vacationStart" type="text" placeholder="2016-11-06"/> ~
                                <input id="vacationEnd" type="text" placeholder="2016-11-16"/>
                            </td>
                        </tr>
                        <tr id="vacationCheck">
                            <td width="200">휴가</td>
                            <td width="200">
                                <span id="vacation">휴가 중</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <table border = 1 cellspacing = 0 id="workDetailsTbl">
                    <thead>
                        <tr>
                            <th colspan=6>업무 상세 내역</th>
                        </tr>
                        <tr>
                            <th width="150">업무 시작 시각</th>
                            <th width="150">업무 종료 시각</th>
                            <th width="150">업무 구분</th>
                            <th>업무 내용</th>
                            <th width="200">비고</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input class="workDetailsStartTime" type="text" placeholder="09:00"/>
                            </td>
                            <td>
                                <input class="workDetailsEndTime" type="text" placeholder="10:00"/>
                            </td>
                            <td>
                                <select name="workType" class="workType">
                                    <option value="1">분석 업무</option>
                                    <option value="2">SKT manager care</option>
                                    <option value="3">외근자 care</option>
                                </select>
                            </td>
                            <td>
                                <textarea class="workDetails"></textarea>
                            </td>
                            <td>
                                <textarea class="note"></textarea>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div id="workDetailsAddDelete">
                    <a href="#" class="workDetailsAddBtn" data-role="button" data-mini="true">업무 추가</a>
                    <a href="#" class="workDetailsDeleteBtn" data-role="button" data-mini="true">업무 삭제</a>
                </div>
            </div>
            <div id="postWorkComfirmCancel">
                <a href="#" data-role="button" data-rel="back" data-inline="true">취소</a>
                <a href="#" id="postWorkReportComfirm" data-role="button" data-inline="true">저장</a>
                <a href="#" id="postWorkReportModification" data-role="button" data-inline="true">수정</a>
                <input type="hidden" id="postReportDialogReportId" value=""/>
            </div>
        </div>

        <!--업무 보고서 삭제-->
        <div data-role="popup" id="deleteReportDialog" data-dismissible="false" style="max-width:400px;">
            <div data-role="header" >
                <h1>보고서 삭제</h1>
            </div>
            <div role="main" class="ui-content">
                <h3 class="ui-title">보고서를 삭제 하시겠습니까?</h3>
                <p>보고서를 삭제하면 복원되지 않습니다.</p>
                <a href="#" data-role="button" data-rel="back">취소</a>
                <a href="#" data-role="button" class="deleteReport" data-rel="back" data-transition="flow">삭제</a>
                <input type="hidden" id="deleteReportDialogReportId" value=""/>
            </div>
        </div>

        <a class="ui-btn ui-btn-inline ui-mini" id="logoutBtn">로그아웃</a>
    </div>
    <div data-role="footer" data-position="fixed">
        <h4>icomwiz</h4>
    </div>
    <script>
        //내근자 업무보고 탭을 눌렀을 때 실행되는 function
        function analystReport() {
            $('#teamManagementDateDiv').hide();
            $('#calls-state-div').hide();
            $('#error-state-div').hide();
            $('#listArea').empty();
            $('#listArea').append('<a href="#postReportDialog" id="postReportDialogBtn" data-rel="popup" data-position-to="window" data-transition="fade" class=\"ui-btn ui-icon-plus ui-btn-icon-left\">업무 일지 작성</a>');
            $.get('http://localhost:3000/analystReports/me', function(data) {
                $.each(data.result, function() {
                    $('#listArea').append("<li data-role=\"collapsible\" data-iconpos=\"right\" data-shadow=\"false\" data-corners=\"false\" data-collapsed=\"true\">" +
                                            "<h2>" + this.date + " 업무 보고" + "</h2>" +
                                            "<div>" +
                                                "<table>" +
                                                    "<thead>" +
                                                        "<tr>" +
                                                            "<th colspan='2'>" + '근태 현황' + "</th>" + "<th>" + "세부 사항" + "</th>" +
                                                        "</tr>" +
                                                    "</thead>" +
                                                    "<tbody>" +
                                                        "<tr>" +
                                                            "<td width=\"20%\">" + '출근' + "</td>" + "<td width=\"20%\">" + (this.workStartTime || '') + "</td>" + "<td rowspan='5' width=\"60%\">" +"<pre style=\"margin-bottom: 0px; margin-top: 0px; background: white; border: 0px; text-align: left\">"+ this.majorJob +"</pre>"+ "</td>" +
                                                        "<tr>" +
                                                            "<td>" + '퇴근' + "</td>" + "<td>" + (this.workEndTime || '') + "</td>" +
                                                        "</tr>" +
                                                            "<td>" + '기타' + "</td>" + "<td>" + (this.etcTime ||'') + "</td>" +
                                                        "<tr>" +
                                                            "<td>" + '야근' + "</td>" + "<td>" + (this.overTime || '') + "</td>" +
                                                        "</tr>" +
                                                            "<td>" + '휴가' + "</td>" + "<td>" + (this.vacation === 1 ? '휴가 중' : '') + "</td>" +
                                                        "<tr>" +
                                                    "</tbody>" +
                                                "</table>" +
                                            "</div>" +
                                            "<br>" +
                                            "<table id=" + "\"" + this.date +"\"" + " border = '1' cellspacing = '0' >" +
                                                "<thead>" +
                                                    "<tr>" +
                                                        "<th colspan='5'>" + '업무 상세 내역' + "</th>" +
                                                    "</tr>" +
                                                    "<tr>" +
                                                        "<th>" + '업무 시작 시각' + "</th>" +
                                                        "<th>" + '업무 종료 시각' + "</th>" +
                                                        "<th>" + '업무 구분' + "</th>" +
                                                        "<th>" + '업무 내용' + "</th>" +
                                                        "<th>" + '비고' + "</th>" +
                                                    "</tr>" +
                                                "</thead>" +
                                                "<tbody></tbody>" +
                                            "</table>" +
                                            "<table class=\"deleteEditTbl\">" +
                                                "<tr>" +
                                                    "<td>" +
                                                        "<a href=\"#deleteReportDialog\" data-rel=\"popup\" data-position-to=\"window\" data-transition=\"pop\" class=\"deleteReportTriger\">삭제</a>" +
                                                        "<a style=\"" + (this.vacation === 1 ? 'display: none;' : '') + "\" href=\"#postReportDialog\" data-rel=\"popup\" data-position-to=\"window\" data-transition=\"pop\" class=\"editReport\">수정</a>" +
                                                        "<input type=\"hidden\" class=\"hiddenReportId\" value=\"" + this.id + "\">" +
                                                    "</td>" +
                                                "</tr>" +
                                            "</table>" +
                                          "</li>");
                    $('#listArea li').collapsible();
                    var dateSelector = '#' + this.date;
                    $.ajax({
                        url: "http://localhost:3000/analystReportDetails",
                        type: "GET",
                        dataType: "JSON",
                        data: { date: this.date },
                        success: function(data) {
                            for (var i = 0; i < data.result.length; i++) {
                                $(dateSelector + '> tbody:last').append(
                                        '<tr><td width=\"15%\">' + (data.result[i].startTime || '') + '</td><td width=\"15%\">' + (data.result[i].endTime || '') +
                                        '</td><td width=\"15%\">' + findWorkType(data.result[i].type) + '</td><td>' +'<pre style=\"margin-bottom: 0px; margin-top: 0px; background: white; border: 0px;  text-align: left;\">'+ (data.result[i].workDetails ||'') + '</pre>'+
                                        '</td><td width=\"15%\">' + (data.result[i].note || '') + '</td></tr>');
                            }
                        },
                        error: function(data) {
                            alert("접속 에러");
                        }
                    });
                });
            });
            $('#listArea').trigger('create');

            function findWorkType(num) {
                switch (num) {
                    case 1:
                        return '분석 업무';
                        break;
                    case 2:
                        return 'SKT manager care';
                        break;
                    case 3:
                        return '외근자 care';
                        break;
                }
            }
        }

        //팀을 선택시 해당 팀의 날짜별 report들을 불러오는 function
        function getReport(teamId) {
            $.ajax({
                url: "http://localhost:3000/reports",
                type: "GET",
                dataType: "JSON",
                data: {
                    action: 1,
                    teamId: teamId
                },
                success: function(data) {
                    $('#listArea').empty();
                    for(var i = 0; i < data.result.length; i++) {
                        $('#listArea').append("<li data-inset=\"true\" class=\"allteamlist\">" +
                                                    "<span class=\"allteamlistdate\">" + data.result[i].date + "</span>" + "<br/>" +
                                                    "측정장소 : " + "<span class=\"allteamlistlocation\">" + data.result[i].location + "</span>" + "<br/>" +
                                                    "측정팀 : " + "<span class=\"allteamlistteam\">" + data.result[i].teamName + " " + data.result[i].teamNo + "조" + "</span>" +
                                                    "<input type=\"hidden\" class=\"allteamlistteamid\" value=\""+ teamId +"\"/>" +
                                              "</li>");
                    }
                    $('#listArea').append("<a id=\"backToTeamManagement\" data-role=\"button\" data-inline=\"true\" data-mini=\"true\">뒤로 가기</a>");
                    $('#listArea').trigger('create');
                    $('#listArea').listview('refresh');
                },
                error: function(data) {
                    alert('접속 에러');
                }
            });
        }

        //팀관리 탭을 선택했을 때 실행되는 function
        function teamManagement() {
            $('#teamManagementDateDiv').show();
            $('#calls-state-div').hide();
            $('#error-state-div').hide();
            var date = $('#teamManagementDate').val();

            $.get("http://localhost:3000/teams/simple?date=" + date, function(data) {
                $('#listArea').empty();
                $.each(data.result, function() {
                    $('#listArea').append("<li data-role=\"collapsible\" data-iconpos=\"right\" data-shadow=\"false\" data-corners=\"false\">" +
                            "<h2>"+this.teamName+"</h2>" +
                            "<ul id=" + "\"" + this.teamName +"\"" + "data-role=\"listview\" data-theme=\"d\" data-inset=\"true\"></ul>" +
                            "</li>");
                    $("#listArea li").collapsible();
                    var teamNameSelector = '#' + this.teamName;
                    $.ajax({
                        url: "http://localhost:3000/teams",
                        type: "GET",
                        dataType: "JSON",
                        data: {
                            teamName: this.teamName,
                            date: date
                        },
                        success: function(data) {
                            if( data.result ) {
                                for(var i = 0; i < data.result.length; i++) {
                                    $(teamNameSelector).append("<li class=\"teamList\" data-role=\"listview\" id=" + "\"" + data.result[i].teamId +"\"" + ">" +
                                                                    data.result[i].teamName + " " +data.result[i].teamNo + "조" +
                                                               "</li>");
                                    var teamIdSelector = '#' + data.result[i].teamId;
                                    $(teamIdSelector).click(function() {
                                        getReport(this.id);
                                    });
                                }
                                $('#listArea').trigger('create');
                                $(teamNameSelector).listview('refresh');
                            }
                        },
                        error: function(data) {
                            alert("접속 에러");
                        }
                    });
                });
            });
        }

        //파일업로드 탭을 선택했을 때 실행되는 function
        function fileUpload() {
            $('#teamManagementDateDiv').hide();
            $('#calls-state-div').hide();
            $('#error-state-div').hide();
            $('#listArea').empty();
            $('#listArea').append("<li>" +
                                    "<input id=\"file\" type=\"file\" name=\"uploadExcelfile\" />" +
                                    "<input type=\"button\" id=\"uploadbtn\" value=\"계획서 업로드\" />" +
                                  "</li>" +
                                  "<li>" +
                                    "<input type=\"button\" id=\"formDownloadbtn\" value=\"엑셀양식 다운로드\" />" +
                                  "</li>");
            $('#listArea').trigger('create');
            $('#listArea').listview('refresh');
        }

        //오류현황 탭을 선택했을 때 폼을 실행되는 function
        function errorState() {
            $('#listArea').empty();
            $('#calls-state-div').css('display','none');
            $('#error-state-div').show();
            $('#teamManagementDateDiv').hide();
            $('#listArea').listview('refresh');
        }

        //콜수 현황 탭을 선택했을 때 실행되는 function
        function callState() {
            $('#listArea').empty();
            $('#error-state-div').css('display','none');
            $('#calls-state-div').show();
            $('#teamManagementDateDiv').hide();
            $('#listArea').listview('refresh');
        }

        //관리자 페이지 탭을 선택했을 때 실행되는 fucntion
        function adminPage() {
            $('#calls-state-div').hide();
            $('#error-state-div').hide();
            $('#teamManagementDateDiv').hide();

            //오늘날짜계산함수
            function date(){
                var date = new Date();

                var year  = date.getFullYear();
                var month = date.getMonth() + 1; // 0부터 시작하므로 1더함 더함
                var day   = date.getDate();

                if(month < 10) {
                    month = "0"+month;
                }
                if(day < 10) {
                    day = "0"+day
                }
                return year +'-'+month+'-'+day;
            }

            return window.location.href = "http://localhost:3000/employees/admin?date="+date();
        }

        //내근자 관리 탭을 선택했을 때 실행되는 function
        function indoorEmployeeManagement() {
            $('#calls-state-div').hide();
            $('#error-state-div').hide();
            $('#teamManagementDateDiv').hide();

            //여기다가 내근자 관리
            return window.location.href = "http://localhost:3000/employees/management";
        }

        //TODO : 내근자 업무 일지 관리 탭을 선택했을 때 실행되는 function
        function indoorEmployeeReport() {
            $('#calls-state-div').hide();
            $('#error-state-div').hide();
            $('#teamManagementDateDiv').hide();

            //오늘날짜계산함수
            function date(){
                var date = new Date();

                var year  = date.getFullYear();
                var month = date.getMonth() + 1; // 0부터 시작하므로 1더함 더함
                var day   = date.getDate();

                if(month < 10) {
                    month = "0"+month;
                }
                if(day < 10) {
                    day = "0"+day
                }
                return year +'-'+month+'-'+day;
            }

            //여기다가 내근자 업무 보고일지 관리
            return window.location.href = "http://localhost:3000/employees/management-journal?date="+date();
        }

        //날짜 정규표현식 검사
        function dateRegExpCheck(strDate) {
            var strValue = strDate;
            var dateRegExp = /^(19|20)\d{2}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[0-1])$/;

            if (strValue == "") {
                return true;
            }
            //-------------------------------------------------------------------------------
            // 유효성 검사- 입력형식에 맞게 들왔는지 // 예) 2000-1-1, 2000-01-01 2가지 형태 지원
            //-------------------------------------------------------------------------------
            if (dateRegExp.test(strValue) == false) {
                alert("2016-01-01 형식으로 날자를 입력해주세요.");
                return false;
            }
            //-------------------------------------------------------------------------------
            // 존재하는 날자(유효한 날자) 인지 체크
            //-------------------------------------------------------------------------------
            var bDateCheck = true;
            var arrDate = strDate.split("-");
            var nYear = Number(arrDate[0]);
            var nMonth = Number(arrDate[1]);
            var nDay = Number(arrDate[2]);

            if (nYear < 1900 || nYear > 3000) { // 사용가능 하지 않은 년도 체크
                bDateCheck = false;
            }

            if (nMonth < 1 || nMonth > 12) { // 사용가능 하지 않은 달 체크
                bDateCheck = false;
            }

            // 해당달의 마지막 일자 구하기
            var nMaxDay = new Date(new Date(nYear, nMonth, 1) - 86400000).getDate();
            if (nDay < 1 || nDay > nMaxDay) { // 사용가능 하지 않은 날자 체크
                bDateCheck = false;
            }

            if(bDateCheck == false) {
                alert("존재하지 않은 날짜를 입력하셨습니다. 다시 한번 확인해주세요");
                return false;
            }
            return true;
        }

        //시간 정규표현식 검사
        function timeRegExpCheck(what, time) {
            var timeRegExp = /^([1-9]|[01][0-9]|2[0-3]):([0-5][0-9])$/;

            if (time === "") {
                return true;
            }

            if (!timeRegExp.test(time)) {
                alert(what + "을 06:00 형식으로 시간을 입력해주세요.");
                return false;
            }

            var arrTime = time.split(':');
            var hour = Number(arrTime[0]);
            var minute = Number(arrTime[1]);

            if (hour < 0 || hour > 24) {
                alert(what + "에 존재하지 않은 시간를 입력하셨습니다. 다시 한번 확인해주세요");
                return false;
            }

            if (minute < 0 || minute > 60) {
                alert(what + "에 존재하지 않은 분을 입력하셨습니다. 다시 한번 확인해주세요");
                return false;
            }
            return true;
        }

        //앞 날짜가 뒷 날짜보다 빠른 날짜인지 검사
        function chkDateSequence(startDate, endDate) {
            var startDateArr = startDate.split('-');
            var endDateArr = endDate.split('-');
            var sDate = new Date(startDateArr[0], startDateArr[1] - 1, startDateArr[2]);
            var eDate = new Date(endDateArr[0], endDateArr[1] - 1, endDateArr[2]);
            var sub = eDate.getTime() - sDate.getTime();
            if (sub < 0) {
                return false;
            }
            return true;
        }

        //업무 일지 내역을 올바르게 작성했는지 검사
        function analystReportChk(callback) {
            var date = $('#postReportDate').val();
            var workStartTime = $('#workStartTime').val();
            var workEndTime = $('#workEndTime').val();
            var etcTime = $('#etcTime').val();
            var overTime =  $('#overTime').val();
            var vacationStart = $('#vacationStart').val();
            var vacationEnd = $('#vacationEnd').val();
            var majorWork = $('#majorWork').val();
            if (date === '') { //날짜가 입력되어 있는지 없는지 검사
                return callback(0, '날짜를 입력해 주세요');
            }
            if (vacationStart || vacationEnd) { //휴가라면?
                if (vacationEnd == '' || vacationStart == '') {
                    return callback(0, '휴가의 시작, 끝 날짜를 모두 입력해 주세요');
                }
                if (!(dateRegExpCheck(vacationStart) && dateRegExpCheck(vacationEnd))) {
                    return callback(0);
                }
                if (workStartTime || workEndTime || etcTime || overTime) {
                    return callback(0, '휴가중 출근 퇴근 야근 기타는 적지 않습니다.');
                }
                if (date !== vacationStart) {
                    return callback(0, '보고서 날짜와 휴가 시작 날짜가 같지 않습니다.');
                }
                if (!chkDateSequence(vacationStart, vacationEnd)) {
                    return callback(0, '휴가 날짜 순서가 잘못되었습니다.');
                }
                if (!majorWork) {
                    return callback(0, '휴가의 사유를 적어주세요');
                }
                return callback(2);
            } else { //휴가가 아니라면
                if (!(dateRegExpCheck(date) && timeRegExpCheck('출근시간', workStartTime) && timeRegExpCheck('퇴근시간', workEndTime) && timeRegExpCheck('기타', etcTime) && timeRegExpCheck('야근', overTime))) {
                    return callback(0);
                }
                if ((workStartTime == '') || ((workStartTime == '') && (workEndTime || etcTime || overTime))) {
                    return callback(0, '출근 시간을 입력해 주세요.');
                }
                return callback(1);
            }
        }

        //업무 상세내역을 올바르게 작성했는지 검사
        function analystReportDetailsChk(callback) {
            var workDetailsNum = $('#workDetailsTbl > tbody tr').length;
            var strTrInput = '';
            var strTrTextarea = '';
            var arrInput = '';
            var arrTextarea = '';
            if (workDetailsNum === 1) { //업무 상세내역이 한개일 때
                strTrInput = '#workDetailsTbl > tbody tr:nth-child(1) input[type=text]';
                strTrTextarea = '#workDetailsTbl > tbody tr:nth-child(1) textarea';
                arrInput = $(strTrInput); // 배열의 0 : 업무 시작시간, 1 : 종료시간
                arrTextarea = $(strTrTextarea); //배열의 0 : 업무내용, 1 : 비고
                console.log($(arrInput[0]).val());
                console.log($(arrInput[1]).val());
                console.log($(arrTextarea[0]).val());
                console.log($(arrTextarea[1]).val());
                if (($(arrInput[0]).val() == '') && ($(arrInput[1]).val() == '') && ($(arrTextarea[0]).val() =='') && ($(arrTextarea[0]).val() =='')) { //아무것도 입력하지 않았을 경우
                    return callback(1); //analystReport만 생성
                } else {
                    if (!(timeRegExpCheck('업무 시작 시간', $(arrInput[0]).val()) && timeRegExpCheck('업무 종료 시간', $(arrInput[1]).val()))) { //시간을 잘못 입력했을 경우
                        return callback(0);
                    }
                    if ($(arrInput[0]).val() && ($(arrTextarea[0]).val()=='')) { //시작시간은 입력했으나 업무내역을 입력하지 않았을 경우
                        return callback(0, '1번째 업무의 업무 내용을 작성해 주세요.');
                    }
                    if (($(arrInput[0]).val() == '') && ($(arrTextarea[0]).val() || $(arrInput[1]).val() || $(arrTextarea[1]).val())) { //시작시작은 입력하지않고 다른 사항을 입력했을 경우
                        return callback(0, '1번째 업무의 업무 시작 시간을 작성해 주세요.');
                    }
                }
                return callback(2); //analystReport와 하나의 analystReportDetail이 생성
            } else { //업무 상세 내역이 2개 이상일 때
                for (var i = 0; i < workDetailsNum; i++) {
                    strTrInput = '#workDetailsTbl > tbody tr:nth-child(' + (i + 1) + ') input[type=text]';
                    strTrTextarea = '#workDetailsTbl > tbody tr:nth-child(' + (i + 1) + ') textarea';
                    arrInput = $(strTrInput); // 배열의 0 : 업무 시작시간, 1 : 종료시간
                    arrTextarea = $(strTrTextarea); //배열의 0 : 업무내용, 1 : 비고
                    if (($(arrInput[0]).val() == '') && ($(arrInput[1]).val() == '') && ($(arrTextarea[0]).val() =='') && ($(arrTextarea[0]).val() =='')) { //아무것도 입력하지 않았을 경우
                        return callback(0, (i + 1) + '번째 업무의 업무 시작 시간을 작성해 주세요.');
                    } else {
                        if (!(timeRegExpCheck('업무 시작 시간', $(arrInput[0]).val()) && timeRegExpCheck('업무 종료 시간', $(arrInput[1]).val()))) { //시간을 잘못 입력했을 경우
                            return callback(0);
                        }
                        if ($(arrInput[0]).val() && !($(arrTextarea[0]).val())) { //시작시간은 입력했으나 업무내역을 입력하지 않았을 경우
                            return callback(0, (i + 1) + '번째 업무의 업무 내용을 작성해 주세요.');
                        }
                        if (($(arrInput[0]).val() == '') && ($(arrTextarea[0]).val() || $(arrInput[1]).val() || $(arrTextarea[1]).val())) { //시작시작은 입력하지않고 다른 사항을 입력했을 경우
                            return callback(0, (i + 1) + '번째 업무의 업무 시작 시간을 작성해 주세요.');
                        }
                    }
                }
                return callback(3);
            }
        }

        //html파싱이 완료 된 후 실행되는 function
        $(function() {
            //Query String을 위한함수
            function getUrlParams() {
                const params = {};
                window.location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(str, key, value) { params[key] = value; });
                return params;
            }

            var query = getUrlParams();

            $('#teamManagementDate').val(query.date);


            var radioChecked = $('input:radio[name=radio-choice-1]:checked').val();
            switch (radioChecked) {
                case '1':
                    teamManagement();
                    break;
                case '2':
                    $('#teamManagementDateDiv').hide();
                    fileUpload();
                    break;
                case '3':
                    $('#teamManagementDateDiv').hide();
                    errorState();
                    break;
                case '4':
                    $('#teamManagementDateDiv').hide();
                    break;
                case '5':
                    $('#teamManagementDateDiv').hide();
                    callState();
                    break;
                case '6':
                    $('#teamManagementDateDiv').hide();
                    //
                    break;
                case '7':
                    $('#teamManagementDateDiv').hide();
                    analystReport();
                    break;
                case '8':
                    $('#teamManagementDateDiv').hide();
                    //
                    break;
                case '9':
                    $('#teamManagementDateDiv').hide();
                    //
                    break;
            }

            //홈 아이콘을 클릭했을 시
//            $('#home').click(function() {
//                $('input:radio[name=radio-choice-1]:input[value=7]').attr("checked", true);
//            });
            $('#teamManagementDate').val()

            //내근자 업무보고 탭이 클릭 되었을 시
            $("#analyst-report").click(function() {
                analystReport();
            });

            //팀관리 탭이 클릭되었을 시
            $("#owns-team").click(function() {
                teamManagement();
            });

            //외근팀 관리에서 뒤로가기 버튼을 눌렀을 경우
            $(document).on('click', '#backToTeamManagement', function() {
                teamManagement();
            });

            //파일 업로드 탭이 클릭 되었을 시
            $("#file-upload").click(function() {
                fileUpload();
            });

            //오류현황 탭이 클릭 되었을 시
            $("#error-state").click(function() {
                errorState();
            });

            //콜수현황 탭이 클릭 되었을 시
            $("#call-state").click(function() {
                callState();
            })

            //차량현황 탭이 클릭 되었을 시
            $("#car-state").click(function() {
                $('#calls-state-div').hide();
                $('#error-state-div').hide();
                $('#teamManagementDateDiv').hide();
                return window.location.href = "http://localhost:3000/reports/cars";
            });

            //관리자 페이지 탭이 클릭 되었을 시
            $('#admin-page').click(function() {
                adminPage();
            });

            //
            $('#indoor-employee-management').click(function() {
                indoorEmployeeManagement();
            })

            $('#indoor-employee-report').click(function() {
                indoorEmployeeReport();
            });

            //파일 업로드 버튼이 클릭 되었을 시
            $(document).on('click', '#uploadbtn', function() {
                var formData = new FormData();
                formData.append("uploadExcelfile", $("input[name=uploadExcelfile]")[0].files[0]);
                if( $("#file").val() != "" ){
                    var ext = $('#file').val().split('.').pop().toLowerCase();
                    if($.inArray(ext, ['xlsm','xlsx']) == -1) {
                        alert('xlsx 파일만 업로드 할수 있습니다.');
                        return;
                    }
                    $.ajax({
                        url:'http://localhost:3000/reports/planner',
                        processData: false,
                        contentType: false,
                        data: formData,
                        type: 'POST',
                        success: function(data) {
                            alert(data.result);
                        }
                    });
                } else {
                    alert('파일을 선택해 주세요');
                }
            });

            //엑셀 양식 다운로드 버튼이 클릭되었을 시
            $(document).on('click', '#formDownloadbtn', function() {
                return window.location.href = "http://localhost:3000/excelforms";
            });

            // 팀(ex QOE팀 1조)을 눌렀을 때 실행
            $(document).on('click', '.allteamlist', function() {
                var queryStr = '?action=2&teamId=' + $(this).children(".allteamlistteamid").val() + '&date=' + $(this).children(".allteamlistdate").text();
                return window.location.href = "http://localhost:3000/reports" + queryStr;
            });

            // 오류현황 탭의 목록이 선택되었을 시
            $('#dayErrorBtn').click(function() {
                return window.location.href = "http://localhost:3000/reports/statistics?action=0";
            });
            $('#weekErrorBtn').click(function() {
                return window.location.href = "http://localhost:3000/reports/statistics?action=1";
            });
            $('#monthErrorBtn').click(function() {
                return window.location.href = "http://localhost:3000/reports/statistics?action=2";
            });
            $('#quarterErrorBtn').click(function() {
                return window.location.href = "http://localhost:3000/reports/statistics?action=3";
            });

            //콜수 현황탭의 목록이 선택되었을 시
            $('#dayCallsBtn').click(function() {
                return window.location.href = "http://localhost:3000/reports/calls?action=0";
            });
            $('#monthCallsBtn').click(function() {
                return window.location.href = "http://localhost:3000/reports/calls?action=1";
            });

            //로그아웃
            $('#logoutBtn').click(function() {
                alert('로그아웃 합니다.');
                return window.location.href = "http://localhost:3000/auth/logout"
            });

            //리포트 작성 다이얼로그 크기 조정
            $('#postReportDialog').css('width', $(window).width() - 500 );

            //내근자용 업무 작성 상세내용에서 추가 버튼 눌렀을 경우
            $('.workDetailsAddBtn').click(function() {
                $('#workDetailsTbl > tbody:last').append(
                        '<tr>' +
                            '<td>' +
                                '<input class="workDetailsStartTime" type="text" placeholder="09:00"/>' +
                            '</td>' +
                            '<td>' +
                                '<input class="workDetailsEndTime" type="text" placeholder="10:00"/>' +
                            '</td>' +
                            '<td>' +
                                '<select name="workType" class="workType">' +
                                    '<option value="1">분석 업무</option>' +
                                    '<option value="2">SKT manager care</option>' +
                                    '<option value="3">외근자 care</option>' +
                                '</select>' +
                            '</td>' +
                            '<td>' +
                                '<textarea class="workDetails"></textarea>' +
                            '</td>' +
                            '<td>' +
                                '<textarea class="note"></textarea>' +
                            '</td>' +
                        '</tr>');
                $('#workDetailsTbl > tbody:last').trigger("create");
            });

            //내근자용 업무 작성 상세내용에서 삭제 버튼 눌렀을 경우
            $('.workDetailsDeleteBtn').click(function() {
                if ($('#workDetailsTbl > tbody tr').length > 1) {
                    $('#workDetailsTbl > tbody tr:last-child').remove();
                }
            });

            //내근자 일일 업무 리포트 작성
            $('#postWorkReportComfirm').click(function() {
                analystReportChk(function(code, msg) {
                    if (code === 0) {
                        if (msg) {
                            alert(msg);
                        }
                    } else if (code === 1) {
                        analystReportDetailsChk(function(code, msg) {
                            if (code === 0) {
                                if (msg) {
                                    alert(msg);
                                }
                            } else if (code === 1) { //report만 저장
                                $.ajax({
                                    url: "http://localhost:3000/analystreports?action=1",
                                    type: "POST",
                                    dataType: 'JSON',
                                    data: {
                                        date: $('#postReportDate').val(),
                                        majorJob: $('#majorWork').val(),
                                        workStartTime: $('#workStartTime').val(),
                                        workEndTime: $('#workEndTime').val(),
                                        etcTime: $('#etcTime').val(),
                                        overTime: $('#overTime').val()
                                    },
                                    success: function(data) {
                                        switch(data.result) {
                                            case 0:
                                                alert('설정하신 날짜의 보고서가 이미 존재합니다.');
                                                break;
                                            case 1:
                                                alert('보고서가 저장되었습니다.');
                                                analystReport();
                                                return window.location.href = "#";
                                                break;
                                        }
                                    },
                                    error: function(data) {
                                        alert('error');
                                    }
                                });
                            } else if (code === 2) { //report와 하나의 details 저장
                                $.ajax({
                                    url: "http://localhost:3000/analystreports?action=2",
                                    type: "POST",
                                    dataType: 'JSON',
                                    data: {
                                        date: $('#postReportDate').val(),
                                        majorJob: $('#majorWork').val(),
                                        workStartTime: $('#workStartTime').val(),
                                        workEndTime: $('#workEndTime').val(),
                                        etcTime: $('#etcTime').val(),
                                        overTime: $('#overTime').val(),
                                        startTime: $('.workDetailsStartTime').val(),
                                        endTime: $('.workDetailsEndTime').val(),
                                        type: $('select[name=workType]').val(),
                                        workDetails: $('.workDetails').val(),
                                        note: $('.note').val()
                                    },
                                    success: function(data) {
                                        switch(data.result) {
                                            case 0:
                                                alert('설정하신 날짜의 보고서가 이미 존재합니다.');
                                                break;
                                            case 1:
                                                alert('보고서가 저장되었습니다.');
                                                analystReport();
                                                return window.location.href = "#";
                                                break;
                                        }
                                    },
                                    error: function(data) {
                                        alert('error');
                                    }
                                });
                            } else if (code === 3) { //report와 두개 이상의 details 저장
                                var workDetailsInfo = [];
                                var workDetailsNum = $('#workDetailsTbl > tbody tr').length;
                                for (var i = 0; i < workDetailsNum; i++) {
                                    var strTrInput = '#workDetailsTbl > tbody tr:nth-child(' + (i + 1) + ') input[type=text]';
                                    var strTrTextarea = '#workDetailsTbl > tbody tr:nth-child(' + (i + 1) + ') textarea';
                                    var strTrSelect = '#workDetailsTbl > tbody tr:nth-child(' + (i + 1) + ') select[name=workType]';
                                    var type = $(strTrSelect).val(); //업무 구분
                                    var arrInput = $(strTrInput); // 배열의 0: 업무 시작시간, 1: 종료시간
                                    var arrTextarea = $(strTrTextarea); //배열의 0: 업무내용, 1: 비고
                                    workDetailsInfo.push({
                                        startTime: $(arrInput[0]).val(),
                                        endTime: $(arrInput[1]).val(),
                                        type: type,
                                        workDetails: $(arrTextarea[0]).val(),
                                        note: $(arrTextarea[1]).val()
                                    });
                                }
                                $.ajax({
                                    url: "http://localhost:3000/analystreports?action=3",
                                    type: "POST",
                                    dataType: 'JSON',
                                    data: {
                                        date: $('#postReportDate').val(),
                                        majorJob: $('#majorWork').val(),
                                        workStartTime: $('#workStartTime').val(),
                                        workEndTime: $('#workEndTime').val(),
                                        etcTime: $('#etcTime').val(),
                                        overTime: $('#overTime').val(),
                                        workDetailsInfo: workDetailsInfo
                                    },
                                    success: function(data) {
                                        switch(data.result) {
                                            case 0:
                                                alert('설정하신 날짜의 보고서가 이미 존재합니다.');
                                                break;
                                            case 1:
                                                alert('보고서가 저장되었습니다.');
                                                analystReport();
                                                return window.location.href = "#";
                                                break;
                                        }
                                    },
                                    error: function(data) {
                                        alert('error');
                                    }
                                });
                            }
                        });
                    } else if (code === 2) { //휴가
                        var vacationStart = $('#vacationStart').val();
                        var vacationEnd = $('#vacationEnd').val();
                        var majorWork = $('#majorWork').val();
                        $.ajax({
                            url: "http://localhost:3000/analystreports?action=4",
                            type: "POST",
                            dataType: 'JSON',
                            data: {
                                vacationStart: vacationStart,
                                vacationEnd: vacationEnd,
                                majorWork: majorWork
                            },
                            success: function(data) {
                                console.log(data);
                                if (data.result === 1) {
                                    alert('보고서가 저장되었습니다.');
                                    analystReport();
                                    return window.location.href = "#";
                                } else {
                                    alert(data.msg);
                                }
                            },
                            error: function(data) {
                                alert(data);
                            }
                        });
                    }
                });
            });

            //내근자 일일 업무 리포트 수정
            $('#postWorkReportModification').click(function() {
                var reportId = $(this).next().val();
                $.ajax({ //일일 업무 삭제
                    url: "http://localhost:3000/analystReports/" + reportId,
                    type: "delete",
                    dataType: 'json',
                    success: function(data) {
                        analystReportChk(function(code, msg) {
                            if (code === 0) {
                                if (msg) {
                                    alert(msg);
                                }
                            } else if (code === 1) {
                                analystReportDetailsChk(function(code, msg) {
                                    if (code === 0) {
                                        if (msg) {
                                            alert(msg);
                                        }
                                    } else if (code === 1) { //report만 저장
                                        $.ajax({
                                            url: "http://localhost:3000/analystreports?action=1",
                                            type: "POST",
                                            dataType: 'JSON',
                                            data: {
                                                date: $('#postReportDate').val(),
                                                majorJob: $('#majorWork').val(),
                                                workStartTime: $('#workStartTime').val(),
                                                workEndTime: $('#workEndTime').val(),
                                                etcTime: $('#etcTime').val(),
                                                overTime: $('#overTime').val()
                                            },
                                            success: function(data) {
                                                switch(data.result) {
                                                    case 0:
                                                        alert('설정하신 날짜의 보고서가 이미 존재합니다.');
                                                        break;
                                                    case 1:
                                                        alert('보고서가 저장되었습니다.');
                                                        analystReport();
                                                        return window.location.href = "#";
                                                        break;
                                                }
                                            },
                                            error: function(data) {
                                                alert('error');
                                            }
                                        });
                                    } else if (code === 2) { //report와 하나의 details 저장
                                        $.ajax({
                                            url: "http://localhost:3000/analystreports?action=2",
                                            type: "POST",
                                            dataType: 'JSON',
                                            data: {
                                                date: $('#postReportDate').val(),
                                                majorJob: $('#majorWork').val(),
                                                workStartTime: $('#workStartTime').val(),
                                                workEndTime: $('#workEndTime').val(),
                                                etcTime: $('#etcTime').val(),
                                                overTime: $('#overTime').val(),
                                                startTime: $('.workDetailsStartTime').val(),
                                                endTime: $('.workDetailsEndTime').val(),
                                                type: $('select[name=workType]').val(),
                                                workDetails: $('.workDetails').val(),
                                                note: $('.note').val()
                                            },
                                            success: function(data) {
                                                switch(data.result) {
                                                    case 0:
                                                        alert('설정하신 날짜의 보고서가 이미 존재합니다.');
                                                        break;
                                                    case 1:
                                                        alert('보고서가 저장되었습니다.');
                                                        analystReport();
                                                        return window.location.href = "#";
                                                        break;
                                                }
                                            },
                                            error: function(data) {
                                                alert('error');
                                            }
                                        });
                                    } else if (code === 3) { //report와 두개 이상의 details 저장
                                        var workDetailsInfo = [];
                                        var workDetailsNum = $('#workDetailsTbl > tbody tr').length;
                                        for (var i = 0; i < workDetailsNum; i++) {
                                            var strTrInput = '#workDetailsTbl > tbody tr:nth-child(' + (i + 1) + ') input[type=text]';
                                            var strTrTextarea = '#workDetailsTbl > tbody tr:nth-child(' + (i + 1) + ') textarea';
                                            var strTrSelect = '#workDetailsTbl > tbody tr:nth-child(' + (i + 1) + ') select[name=workType]';
                                            var type = $(strTrSelect).val(); //업무 구분
                                            var arrInput = $(strTrInput); // 배열의 0: 업무 시작시간, 1: 종료시간
                                            var arrTextarea = $(strTrTextarea); //배열의 0: 업무내용, 1: 비고
                                            workDetailsInfo.push({
                                                startTime: $(arrInput[0]).val(),
                                                endTime: $(arrInput[1]).val(),
                                                type: type,
                                                workDetails: $(arrTextarea[0]).val(),
                                                note: $(arrTextarea[1]).val()
                                            });
                                        }
                                        $.ajax({
                                            url: "http://localhost:3000/analystreports?action=3",
                                            type: "POST",
                                            dataType: 'JSON',
                                            data: {
                                                date: $('#postReportDate').val(),
                                                majorJob: $('#majorWork').val(),
                                                workStartTime: $('#workStartTime').val(),
                                                workEndTime: $('#workEndTime').val(),
                                                etcTime: $('#etcTime').val(),
                                                overTime: $('#overTime').val(),
                                                workDetailsInfo: workDetailsInfo
                                            },
                                            success: function(data) {
                                                switch(data.result) {
                                                    case 0:
                                                        alert('설정하신 날짜의 보고서가 이미 존재합니다.');
                                                        break;
                                                    case 1:
                                                        alert('보고서가 저장되었습니다.');
                                                        analystReport();
                                                        return window.location.href = "#";
                                                        break;
                                                }
                                            },
                                            error: function(data) {
                                                alert('error');
                                            }
                                        });
                                    }
                                });
                            }
                        });
                    },
                    error: function(data) {
                        alert(data.result);
                    }
                });
            });

            //업무일지 작성 버튼을 눌렀을 경우
            $(document).on('click', '#postReportDialogBtn', function() {
                $('#postWorkReportComfirm').show(); //저장 버튼이 보이도록
                $('#postWorkReportModification').hide(); //수정 버튼이 안보이도록
                $('#vacationCheck').hide();
                $('#vacationPeriod').show();

                $('#postReportDate').val(''); //날짜를 공백으로
                $('#postReportDate').attr("readonly", false); //날짜를 입력할수 있도록
                $('#workStartTime').val(''); //출근 시간을 공백으로
                $('#workEndTime').val('');//퇴근 시간을 공백으로
                $('#etcTime').val(''); //기타 시간을 공백으로
                $('#majorWork').val(''); //majorWork를 공백으로
                $("#workDetailsTbl > tbody tr:not(:first)").remove();
                $(".workDetailsStartTime").val('');
                $(".workDetailsEndTime").val('');
                $(".workDetails").val('');
                $(".note").val('');
                $('select[name=workType]').val("1");
            });

            //내근자 일일 업무 상세보기에서 삭제 버튼 눌렀을 경우
            $(document).on('click', '.deleteReportTriger', function() {
                var reportId = $(this).next().next().val();
                $('#deleteReportDialogReportId').val(reportId);
            });

            //내근자 일일 업무 상세보기의 삭제버튼을 통해 생긴 팝업의 삭제 버튼 눌렀을 경우
            $(document).on('click', '.deleteReport', function() {
                var reportId = $(this).next().val();
                $.ajax({ //일일 업무 삭제
                    url: "http://localhost:3000/analystReports/" + reportId,
                    type: "delete",
                    dataType: 'json',
                    success: function(data) {
                        analystReport();
                    },
                    error: function(data) {
                        alert(data.result);
                    }
                });
            });

            //내근자 일일 업무 상세보기에서 수정 버튼 눌렀을 경우
            $(document).on('click', '.editReport', function() {
                $('#postWorkReportComfirm').hide();
                $('#postWorkReportModification').show();
                $('#vacationCheck').show();
                $('#vacationPeriod').hide();
                var reportId = $(this).next().val();
                $('#postReportDialogReportId').val(reportId);
                $.ajax({ //일일 업무 불러오기
                    url: "http://localhost:3000/analystReports/" + reportId,
                    type: "GET",
                    dataType: 'json',
                    success: function(data) {
                        $('#postReportDialogTitle').text('업무 일지 수정');
                        $('#postReportDate').val(data.result.date); //날짜
                        $('#postReportDate').attr("readonly", true);
                        $('#workStartTime').val(data.result.workStartTime); //출근
                        $('#workEndTime').val(data.result.workEndTime);//퇴근
                        $('#etcTime').val(data.result.etcTime); //기타
                        $('#overTime').val(data.result.overTime); //야근
                        $('#majorWork').val(data.result.majorJob); //주 업무
                        if (parseInt(data.result.vacation) === 1) {
                            $("#vacation").show();
                        } else {
                            $("#vacation").hide();
                        }
                        $('#workDetailsTbl > tbody tr').remove();
                        $.each(data.result.details, function() {
                            var workClassTypeTd = '';
                            if (this.type === 1) {
                                workClassTypeTd =
                                    '<td>' +
                                    '<select name="workType" class="workType">' +
                                    '<option value="1" selected="selected" >분석 업무</option>' +
                                    '<option value="2">SKT manager care</option>' +
                                    '<option value="3">외근자 care</option>' +
                                    '</select>' +
                                    '</td>';
                            } else if (this.type ===2 ) {
                                workClassTypeTd =
                                    '<td>' +
                                    '<select name="workType" class="workType">' +
                                    '<option value="1">분석 업무</option>' +
                                    '<option value="2" selected="selected">SKT manager care</option>' +
                                    '<option value="3">외근자 care</option>' +
                                    '</select>' +
                                    '</td>';
                            } else {
                                workClassTypeTd =
                                    '<td>' +
                                    '<select name="workType" class="workType">' +
                                    '<option value="1">분석 업무</option>' +
                                    '<option value="2">SKT manager care</option>' +
                                    '<option value="3" selected="selected" >외근자 care</option>' +
                                    '</select>' +
                                    '</td>';
                            }
                            $('#workDetailsTbl > tbody:last').append(
                                '<tr>' +
                                    '<td>' +
                                        '<input class="workDetailsStartTime" type="text" placeholder="09:00" value="' + this.startTime + '"/>' +
                                    '</td>' +
                                    '<td>' +
                                        '<input class="workDetailsEndTime" type="text" placeholder="10:00" value="' + (this.endTime || '') + '"/>' +
                                    '</td>' +
                                         workClassTypeTd +
                                    '<td>' +
                                        '<textarea class="workDetails">' + (this.workDetails || '') + '</textarea>' +
                                    '</td>' +
                                    '<td>' +
                                        '<textarea class="note">' + (this.note || '') + '</textarea>' +
                                    '</td>' +
                                '</tr>');
                            $('#workDetailsTbl > tbody:last').trigger("create");
                        });
                    },
                    error: function(data) {
                        alert(data.result);
                    }
                });

            });
        });
    </script>
</body>
</html>