<!DOCTYPE html>
<html>
<head>
    <!-- 메타 정보 선언 -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- 제이쿼리 모바일, 제이쿼리 라이브러리 파일 선언 -->
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />

    <!-- 사용자 스타일 시트 파일 선언 -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <div data-role='header' data-position="fixed">
        <h4><%= result.partName %></h4>
    </div>
    <div data-role="content">
        <img id="home" src="http://localhost:3000/imgs/home.png"/><p class="hello"><b><%= result.name %></b> <B><%= result.departmentPosition %></B>님 반갑습니다.</p>
        <fieldset class="parts-main-radio-btns" data-role="controlgroup" data-type="horizontal" data-mini="true">
            <input type="radio" name="radio-choice-1" id="owns-team" value="choice-1" checked="true"/>
            <label id="owns-team-label" for="owns-team">팀 관리</label>
            <input type="radio" name="radio-choice-1" id="file-upload" value="choice-2"/>
            <label for="file-upload">파일 업로드</label>
            <input type="radio" name="radio-choice-1" id="error-state" value="choice-3"/>
            <label for="error-state">오류 현황</label>
        </fieldset>
        <ul id="listArea" data-role="listview" data-inset="true">
        </ul>
    </div>
    <div data-role="footer" data-position="fixed">
        <h4>icomwiz</h4>
    </div>
    <script>
        //팀을 선택시 해당 팀의 날짜별 report들을 불러오는 function
        function getReport(teamId) {
            $.ajax({
                url: "http://localhost:3000/reports",
                type: "GET",
                dataType: "JSON",
                data: {
                    action: 1,
                    teamId: teamId
                },
                success: function(data) {
                    $('#listArea').empty();
                    for(var i = 0; i < data.result.length; i++) {
                        $('#listArea').append("<li data-inset=\"true\" class=\"allteamlist\">" +
                                                    "<span class=\"allteamlistdate\">" + data.result[i].date + "</span>" + "<br/>" +
                                                    "측정장소 : " + "<span class=\"allteamlistlocation\">" + data.result[i].location + "</span>" + "<br/>" +
                                                    "측정팀 : " + "<span class=\"allteamlistteam\">" + data.result[i].teamName + " " + data.result[i].teamNo + "조" + "</span>" +
                                                    "<input type=\"hidden\" class=\"allteamlistteamid\" value=\""+ teamId +"\"/>" +
                                              "</li>");
                    }
                    $('#listArea').trigger('create');
                    $('#listArea').listview('refresh');
                },
                error: function(data) {
                    alert('접속 에러');
                }
            });
        }

        //팀관리 탭을 선택했을 때 실행되는 function
        function teamManagement() {
            $.get("http://localhost:3000/teams/simple", function(data) {
                $('#listArea').empty();
                $.each(data.result, function() {
                    $('#listArea').append("<li data-role=\"collapsible\" data-iconpos=\"right\" data-shadow=\"false\" data-corners=\"false\">" +
                            "<h2>"+this.teamName+"</h2>" +
                            "<ul id=" + "\"" + this.teamName +"\"" + "data-role=\"listview\" data-theme=\"d\" data-inset=\"true\"></ul>" +
                            "</li>");
                    $("#listArea li").collapsible();
                    var teamNameSelector = '#' + this.teamName;
                    $.ajax({
                        url: "http://localhost:3000/teams",
                        type: "GET",
                        dataType: "JSON",
                        data: { teamName: this.teamName },
                        success: function(data) {
                            if( data.result ) {
                                for(var i = 0; i < data.result.length; i++) {
                                    $(teamNameSelector).append("<li class=\"teamList\" data-role=\"listview\" id=" + "\"" + data.result[i].teamId +"\"" + ">" +
                                                                    data.result[i].teamName + " " +data.result[i].teamNo + "조" +
                                                               "</li>");
                                    var teamIdSelector = '#' + data.result[i].teamId;
                                    $(teamIdSelector).click(function() {
                                        getReport(this.id);
                                    });
                                }
                                $('#listArea').trigger('create');
                                $(teamNameSelector).listview('refresh');
                            }
                        },
                        error: function(data) {
                            alert("접속 에러");
                        }
                    });
                });
            });
        }

        //파일업로드 탭을 선택했을 때 실행되는 function
        function fileUpload() {
            $('#listArea').empty();
            $('#listArea').append("<li>" +
                                    "<input id=\"file\" type=\"file\" name=\"uploadExcelfile\" />" +
                                    "<input type=\"button\" id=\"uploadbtn\" value=\"계획서 업로드\" />" +
                                  "</li>" +
                                  "<li>" +
                                    "<input type=\"button\" id=\"formDownloadbtn\" value=\"엑셀양식 다운로드\" />" +
                                  "</li>");
            $('#listArea').trigger('create');
            $('#listArea').listview('refresh');
        }

        //오류현황 탭을 선택했을 때 폼을 실행되는 function
        function errorState() {
            $('#listArea').empty();
        }

        //html파싱이 완료 된 후 실행되는 function
        $(function() {
            //팀관리 라디오가 체크되었을 시
            if ($('input:radio[name=radio-choice-1]:checked')) {
                teamManagement();
            }

            $('#home').click(function() {
                $("#owns-team-label").trigger('click');
            });

            //팀관리 탭이 클릭되었을 시
            $("#owns-team").click(function() {
                teamManagement();
            });

            //파일 업로드 탭이 클릭 되었을 시
            $("#file-upload").click(function() {
                fileUpload();
            });

            //오류현황 탭이 클릭 되었을 시
            $("#error-state").click(function() {
                errorState();
            });

            //파일 업로드 버튼이 클릭 되었을 시
            $(document).on('click', '#uploadbtn', function() {
                var formData = new FormData();
                formData.append("uploadExcelfile", $("input[name=uploadExcelfile]")[0].files[0]);
                if( $("#file").val() != "" ){
                    var ext = $('#file').val().split('.').pop().toLowerCase();
                    if($.inArray(ext, ['xlsm','xlsx']) == -1) {
                        alert('xlsx 파일만 업로드 할수 있습니다.');
                        return;
                    }
                    $.ajax({
                        url:'http://localhost:3000/reports/planner',
                        processData: false,
                        contentType: false,
                        data: formData,
                        type: 'POST',
                        success: function(data) {
                            alert(data.result);
                        }
                    });
                } else {
                    alert('파일을 선택해 주세요');
                }
            });

            //엑셀 양식 다운로드 버튼이 클릭되었을 시
            $(document).on('click', '#formDownloadbtn', function() {
                return window.location.href = "http://localhost:3000/excelforms";
            });

            // 팀(ex QOE팀 1조)을 눌렀을 때 실행
            $(document).on('click', '.allteamlist', function() {
                var queryStr = '?action=2&teamId=' + $(this).children(".allteamlistteamid").val() + '&date=' + $(this).children(".allteamlistdate").text();
                return window.location.href = "http://localhost:3000/reports" + queryStr;
            });
        });
    </script>
</body>
</html>