body {
    padding: 15px;
}

table {
    text-align: center;
    width: auto;
}

.date {
    background-color: lightgray;
    font-size: x-large;
}

.excelDownBtn {
    float: right;
}

small {
    color: blue;
}