body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

li {
  list-style: none;
}

table {
  width:100%;
  border-collapse: collapse;
  background-color: white;
  text-align: center;
  font-size: 1.1em;
  margin-top: 5px;
  margin-bottom: 5px;
}

thead {
  background-color: gainsboro;
}

tr, td {
  border: 1px solid black;
}

.teamList {
  cursor: pointer;
}

.allteamlist {
  cursor: pointer;
}

.hello {
  text-align: right;
}

.parts-main-radio-btns {
  text-align: center;
}

#home {
  width: 25px;
  height: auto;
  float: left;
  cursor: pointer;
  margin-top: 5px;
  margin-left: 5px;
}

#error-state-div {
  display: none;
}

#calls-state-div {
  display: none;
}

#logoutBtn {
  float: right;
}

#passwordChange {
  float: right;
}

#postReportDialog {
  *zoom:1;
}

#postReportDialog:after {
  content: '';
  display: block;
  clear: both;
}

.deleteEditTbl {
  border: hidden;
}

.deleteEditTbl a {
  float: right;
  margin: 3px;
}

#postWorkComfirmCancel {
  float: right;
}

#majorWork {
  -moz-box-sizing: border-box; /* Firefox  */
  -webkit-box-sizing: border-box; /* Safari */
  box-sizing: border-box; /* CSS3 Standard */
  height: auto !important; /* !important is used to force override. */
}