body {
    padding: 15px;
}

table {
    text-align: left;
}

.table > tbody > tr > td {
    vertical-align: middle !important;
}

thead {
    background-color: beige;
    text-align: center;
}

.month {
    background-color: lightgray;
    font-size: x-large;
}

.excelDownBtn1 {
    float: right;
}

.excelDownBtn2 {
    float: right;
}

.excelDownBtn3 {
    float: right;
}

a {
    cursor: pointer;
}

.carName {
    background-color: cornsilk;
    text-align: center;
}

.true-teamName {
    background-color: cornsilk;
    text-align: center;
}

.property {
    background-color: cornsilk;
}

#carDriveInfoLocation {
    color: blue;
}

#carDriveInfoTime {
    color: grey;
}

#driveInfo {
    background-color: #f6f6f6;
}

.value {
    background-color: #f6f6f6;
}

.km-property {
    color: brown;
}

.km-value {
    color: blue;
}

pre {
    margin-bottom: 0px;
    margin-top: 0px;
    background: white;
    border: 0px;
    word-wrap: break-word;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-break: break-all;
}