table {
    text-align: center;
}

.table > tbody > tr > td {
    vertical-align: middle !important;
}

.date {
    background-color: lightgray;
    font-size: x-large;
}

.summary {
    background-color: cornsilk;
}

.totalSummary {
    background-color: cornsilk;
}

a {
    cursor: pointer;
}

.excelDownBtn {
    float: right;
}

pre {
    margin-bottom: 0px;
    margin-top: 0px;
    background: white;
    border: 0px;
    word-wrap: break-word;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-break: break-all;
}

.errorPopupProperty {
    width: 30%;
}