body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

li {
  list-style: none;
}


#btnLogin {
  cursor: pointer;
}

.teamList {
  cursor: pointer;
}

.allteamlist {
  cursor: pointer;
}

.hello {
  text-align: right;
}

.parts-main-radio-btns {
  text-align: center;
}

#partsteamreport-teamName {
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

#partsteamreport-date {
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

#partsteamreport-basic-info {
  background-color: lightgray;
  margin: 3px;
  padding: 3px;
}

.partsteamreport-basic-info-details {
  background-color: white;
  margin: 3px;
  padding: 3px;
}
