body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

li {
  list-style: none;
}


#btnLogin {
  cursor: pointer;
}

.teamList {
  cursor: pointer;
}

.hello {
  text-align: right;
}

.parts-main-radio-btns {
  text-align: center;
}